[submodule "rtl/biriscv"]
	path = rtl/biriscv
	url = https://github.com/altuSemi/biriscv
[submodule "rtl/axi/axi_spi_slave"]
	path = rtl/axi/axi_spi_slave
	url = https://github.com/pulp-platform/axi_spi_slave.git
